<h1>Hello <%= @user.name %></h1>
<p>You receive this email because your account have some problem!</p>
<p>Be patient and wait until your account is activate again!</p>
<small>Thank you and best wish for you!</small>
