<div class="cover_photo">
	<img src="<%= @user_show.cover_photo %>" alt="cover_photo" />
</div>
<table>
	<tr>
		<td>
			<div class="avatar">
				<img src="<%= @user_show.avatar %>" alt="avatar" class="img-circle" />
			</div>
		</td>
		<td>
			<h3><%= @user_show.name %></h3>
		</td>
	</tr>
</table>
