/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.virtual_nav {
	width: 100%;
	height: 66px;
}

.nav_bar {
	background-color: #283344;
}

.search_something {
	background-color: #323F56;
	border-style: none;
	color: white;
}

.add_post_home {
	background-color: #FF8662;
	color: white;
	border-style: none;
}

.check_all_request {
	background-color: #FF62C1;
}

.num_of_notificcation {
	position: absolute;
	right: 10px;
	top: 1px; 
	color: white;
	border-radius: 15px;
	width: 20px;
	text-align: center;
}

.pink_noti {
	background-color: red;
}

.green_noti {
	background-color: green;
}

.orange_noti {
	background-color: orange;
}

.glyphicon_noti {
	width: 50px;
	font-size: 25px;
}

.img_avatar {
	width: 40px;
	height: 40px;
}

.dropdown_menu {
	width: 350px;
}

.edit_delete_post {
	float: right;
}

.user_avatar {
	width: 40px;
	height: 40px;
}

.record {
	margin-bottom: 10px
}

.cover_photo {
	width: 100%;
	height: 250px;
}

.cover_photo img {
	width: 100%;
	height: 100%;
}

.avatar {
	margin: -150px 0px 50px 150px;
	width: 120px;
	height: 120px;
}

.avatar_name {
	margin: -140px 0px 0px 10px;
}

.avatar img {
	width: 100%;
	height: 100%;
	position: relative;
	border: 5px solid white;
}

.input_group {
	width: 400px;
}

.form_sign_in {
	width: 30%; margin-top: 150px
}

.update_profile {
	width: 240px;
}

.post_well {
	background-color: yellow;
	margin-bottom: 20px;
}

.user_list {
	margin-bottom: 10px;
}

.input_field {
	width: 220px;
}

.post_num_font {
	font-size: 100%;
	opacity: 0.7;
}

.post_num {
	color: #0084B4;
	font-size: 150%;
}

.follower_count {
	color: #0084B4;
	font-size: 150%;
}

.user_banner {
	 background-color: white;
}

.banner_details {
	 margin-top: 5px;
}

.edit_profile_button_div {
	text-align: right;
	margin-top: 5px;
}

.edit_profile_button {
	color: grey;
	opacity: 0.8;
	font-weight: bold;
}

.production_logo {
	width: 120px;
	height: 25px;
}

.login_form {
	width: 40%;
	margin-top: 150px
}

.input_field {
	width: 60%;
}

.row_checkbox {
	width: 50%;
}

.checkbox {
	float: left;
}

.forgot_password {
	float: right;
}

.create_account {
	color: #FF8662
}

.button_login {
	width: 60%;
	background-color: #FF8662;
	color: white;
}