/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.virtual_nav {
	width: 100%;
	height: 66px;
}

.nav_bar {
	background-color: #283344;
}

.search_something {
	background-color: #323F56;
	border-style: none;
	color: white;
}

.add_post_home {
	background-color: #FF8662;
	color: white;
	border-style: none;
}

.check_all_request {
	background-color: #FF62C1;
}

.num_of_notificcation {
	position: absolute;
	right: 10px;
	top: 1px; 
	color: white;
	border-radius: 15px;
	width: 20px;
	text-align: center;
}

.pink_noti {
	background-color: red;
}

.green_noti {
	background-color: green;
}

.orange_noti {
	background-color: orange;
}

.glyphicon_noti {
	width: 50px;
	font-size: 25px;
}

.img_avatar {
	width: 40px;
	height: 40px;
}

.dropdown_menu {
	width: 350px;
}

.edit_delete_post {
	float: right;
}