<div class="row">
	<div class="col-xs-1"></div>
	<div class="col-xs-9">
		<%= form_for ([@post, @post.reports.build]) do |f| %>
			<div class="form-group">
				<%= f.text_field :reason, required: true, class: "form-control", placeholder: "Tell the problem of this post..." %>
			</div>
			<%= f.submit "report", class: "btn btn-sm btn-danger" %>
		<% end %>
	</div>
</div>